{% extends 'base.html' %}
{% block main_content %}
    <h3 class="text-center pb-5">ПротоСеть</h3>
    <div class="alert alert-danger"><h1 class="text-center">Ошибка {{ code }}</h1></div>
    <h1 class="text-center py-5">{{ err }}</h1>
    {% set pic = pics|random %}
    <div class="text-center pb-5">
        <img src="/static/media/{{ pic }}" class="img_thumbnail" style="max-width: 100%">
    </div>
    {% if code == 404 %}
    <div class="text-center mb-5">
        <a href="
                {% if link %}
                {{ link }}
                {% else %}
                /
                {% endif %}
                " class="btn btn-info btn-lg">
            {% if link %}
            Вернуться
            {% else %}
            {% if current_user.is_authenticated %}
            Назад на стену
            {% else %}
            Назад на главную страницу
            {% endif %}
            {% endif %}
        </a>
    </div>
    {% endif %}

{% endblock %}