{% extends 'base.html' %}
{% block main_content %}
    {% if last_n %}
    <h3 class="text-center">Последняя новость</h3>
    <div class="card p-3">
        <p class="text-end">Дата публикации: <i>{{ last_n_time }}</i></p>
        <h3 class="text-center pb-3">{{ last_n.topic }}</h3>
        <a href="/news" class="btn btn-info">Подробнее</a>
    </div>
    <div class="pb-5"></div>
    {% endif %}
    <h1 class="text-center pb-3">Друзья</h1>
    {% if users_req_c %}
        <h3 class="pb-3">Входящие заявки в друзья:</h3>
        <div class="row pb-3">
            <div class="card p-3" style="overflow: auto; display: flex; flex-direction: row;">
        {% for user in users_req %}
            {% if user.id|string() in users_req_l %}
                    <div class="card" style="min-width: 18rem; width: 18rem; margin: 0 5px;">
                        {% if user.avatar == None and not user.is_banned %}
                            <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% elif user.is_banned %}
                            <img src="/static/media/ban.jpg" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% else %}
                            <img src="/static/media/from_users/avatars/{{ user.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% endif %}
                        <div class="card-body">
                            {% if user.is_from_proton %}
                                {% if user.is_teacher %}
                                  <h5 class="card-title text-center">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</h5>
                                  <p class="card-text text-center">Учитель</p>
                                {% else %}
                                  <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                                  <p class="card-text text-center">Ученик</p>
                                {% endif %}
                            {% else %}
                                <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                                <p class="card-text text-center">Гость</p>
                            {% endif %}
                            {% if user.is_admin %}
                                <h5 class="card-text text-center" style="color: #ff0000;">Администратор</h5>
                            {% endif %}
                            <form method="post" class="text-center mt-3">
                                <button type="submit" class="btn btn-primary" id="make_friends_button" name="make_friends_button" value="{{ user.id }}">Принять заявку</button>
                            </form>
                            <form method="post" class="text-center mt-3">
                                <button type="submit" class="btn btn-primary" id="no_friends_button" name="no_friends_button" value="{{ user.id }}">Отклонить заявку</button>
                            </form>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
            </div>
        </div>
    {% else %}
        <h3 class="pb-3 text-center">Входящих заявок нет</h3>
    {% endif %}
    {% if users_friends_c %}
        <h3 class="pb-3">Твои друзья ({{ current_user.friends_num }}):</h3>
        <div class="row pb-3">
            <div class="card p-3" style="overflow: auto; display: flex; flex-direction: row;">
        {% for user in users_friends %}
            {% if user.id|string() in users_friends_l %}
                    <div class="card" style="min-width: 18rem; width: 18rem; margin: 0 5px;">
                        {% if user.avatar == None and not user.is_banned %}
                            <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% elif user.is_banned %}
                            <img src="/static/media/ban.jpg" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% else %}
                            <img src="/static/media/from_users/avatars/{{ user.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% endif %}
                        <div class="card-body">
                            {% if user.is_from_proton %}
                                {% if user.is_teacher %}
                                  <h5 class="card-title text-center">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</h5>
                                  <p class="card-text text-center">Учитель</p>
                                {% else %}
                                  <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                                  <p class="card-text text-center">Ученик</p>
                                {% endif %}
                            {% else %}
                                <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                                <p class="card-text text-center">Гость</p>
                            {% endif %}
                            {% if user.is_admin %}
                                <h5 class="card-text text-center" style="color: #ff0000;">Администратор</h5>
                            {% endif %}
                            <div class="text-center mt-3">
                                <a href="/user/{{ user.login }}" class="btn btn-primary">Перейти на стену</a>
                            </div>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
            </div>
        </div>
    {% else %}
        <h3 class="pb-3 text-center">Друзей нет</h3>
    {% endif %}
{% endblock %}
