{% extends 'components.html' %}
{% block main_content %}
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }} text-center" style="white-space: pre-wrap;">{{ msg }}</div>
    {% endfor %}
    <h1 class="text-center pb-3">Добро пожаловать в социальную сеть ПротоСеть!</h1>
    <div class="text-center pb-3">
        <img src="/static/media/favicon.png" width="256" height="256">
    </div>
    <h2 class="text-center pb-3">Это почти как ВК, только адаптированный под школу.</h2>
    <ul class="pb-5">
        <li class="pb-2"><h4>Общайся со своими школьными друзьями и учителями!</h4></li>
        <li class="pb-2"><h4>Свободно веди свой блог! Пусть весь центр заинтересуется тобой!</h4></li>
        <li class="pb-2"><h4>Узнавай первым новости своей школы!</h4></li>
        <li class="pb-2"><h4>Показывай свои школьные достижения!</h4></li>
        <li class="pb-2"><h4>Зови остальных своих друзей! Они тоже могут тут зарегистрироваться!</h4></li>
    </ul>
    <h2 class="text-center pb-5">Для связи осталось сделать только один шаг:</h2>
    <div class="text-center"><a href="/signup" class="btn btn-info btn-lg">Зарегистрироваться</a></div>
    <h4 class="text-center">или</h4>
    <div class="text-center"><a href="/login" class="btn btn-info btn-lg">Войти</a></div>
    <h4 class="text-center">или</h4>
    <div class="text-center"><a href="/random" class="btn btn-info btn-lg">Хочу посмотреть чей-то случайный аккаунт</a></div>

{% endblock %}