{% extends 'components.html' %}
{% block main_content %}
    <h1 class="text-center">Добро пожаловать в социальную сеть ПротоСеть!</h1>
    <br>
    <h2 class="text-center">Это почти как ВК, только адаптированный под школу.</h2>
    <br>
    <br>
    <ul>
        <li><h4>Общайся со своими школьными друзьями и учителями!</h4></li>
        <li><h4>Свободно веди свой блог! Пусть весь центр заинтересуется тобой!</h4></li>
        <li><h4>Узнавай первым новости своей школы!</h4></li>
        <li><h4>Показывай свои школьные достижения!</h4></li>
        <li><h4>Зови остальных своих друзей! Они тоже могут тут зарегистрироваться!</h4></li>
    </ul>
    <br>
    <br>
    <h2 class="text-center">Для связи осталось сделать только один шаг:</h2>
    <br>
    <div class="text-center"><a href="/signup" class="btn btn-info btn-lg">Зарегистрироваться</a></div>
    <h4 class="text-center">или</h4>
    <div class="text-center"><a href="/login" class="btn btn-info btn-lg">Войти</a></div>

{% endblock %}