{% extends 'components.html' %}
{% block main_content %}
    <h3 class="text-center">ПротоСеть</h3>
    <h1 class="text-center">Вход</h1>
    {% for cat, msg in get_flashed_messages(True) %}
    <div class="alert alert-{{ cat }} text-center">{{ msg }}</div>
    {% endfor %}
    <form method="post">
        <div class="form-group mb-5">
            <label for="login">Введи свой логин</label>
            <input class="form-control" id="login" name="login" placeholder="Логин">
        </div>
        <div class="form-group mb-5">
            <label for="password">Введи пароль</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Пароль">
        </div>
        <div class="text-center mb-5">
            <button type="submit" class="btn btn-info btn-lg">Войти</button>
        </div>
    </form>

{% endblock %}