{% extends 'base.html' %}
{% block main_content %}
    <h1 class="text-center pb-3">Новости</h1>
    {% if (current_user.is_news_publisher or current_user.is_admin) and not current_user.is_banned and current_user.is_authenticated %}
    <div style="background-color: #cceeff;" class="card p-3">
        <h1 class="text-center pb-3">Написать новую новость</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group mb-5">
                <label for="text">Введи заголовок</label>
                <textarea class="form-control" id="topic" name="topic" rows="1" placeholder="Заголовок новости"></textarea>
            </div>
            <div class="form-group mb-5">
                <label for="text">Введи текст</label>
                <textarea class="form-control" id="text" name="text" rows="5" placeholder="Текст новости"></textarea>
            </div>
            <div class="form-group mb-5">
                <label for="files[]">Приложи медиафайлы (Максимальный размер — {{ max_size }} МБ, максимум файлов — {{ max_count }})</label>
                <input type=file class="form-control-file" id="files[]" name="files[]" multiple="multiple" accept="{{ accept_files }}">
            </div>
            <div class="text-center mb-5">
                <button type="submit" class="btn btn-primary btn-lg" id="post_button" name="post_button">Отправить</button>
            </div>
        </form>
    </div>
    <div class="pb-3"></div>
    {% endif %}
    {% if news %}
    {% for n in news[::-1] %}
        <div class="card p-3">
            <p class="text-end">Дата публикации: <i>{{ n_time[n.id] }}</i></p>
            <h3 class="text-center py-1">{{ n.topic }}</h3>
            <p style="white-space: pre-wrap; padding: 0 3%;" class="py-3">{{ n.text }}</p>
            {% if n_media[n.id] %}
            <div style="flex-flow: row wrap;" class="d-flex justify-content-evenly pb-3">
                {% for m in range(n_media_count[n.id]) %}
                    {% if n_media_type[n.id][m] in media_pics %}
                        <img class="img-thumbnail" style="max-height: 192px; min-height: 128px;" src="/static/media/from_users/{{ n_media[n.id][m] }}">
                    {% elif n_media_type[n.id][m] in media_vid %}
                        <video controls preload="metadata" class="img-thumbnail" style="max-height: 192px; min-height: 128px;" src="/static/media/from_users/{{ n_media[n.id][m] }}"></video>
                    {% elif n_media_type[n.id][m] in media_aud %}
                        <audio controls class="p-1" src="/static/media/from_users/{{ n_media[n.id][m] }}"></audio>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            {% if current_user.is_authenticated and not current_user.is_banned and (current_user.is_admin or current_user.is_news_publisher) %}
            <form method="post" class="col">
                <div class="text-center">
                    <button type="submit" class="btn btn-danger" style="width: 90%; height: 46px;" id="delete_n_button" name="delete_n_button" value="{{ n.id }}">Удалить новость</button>
                </div>
            </form>
            {% endif %}
        </div>
        <div class="pb-3"></div>
    {% endfor %}
    {% else %}
        <h3 class="text-center">На данный момент новостей нет</h3>
    {% endif %}
{% endblock %}
