{% extends 'base.html' %}
{% block main_content %}
    {% if last_n %}
    <h3 class="text-center">Последняя новость</h3>
    <div class="card p-3">
        <p class="text-end">Дата публикации: <i>{{ last_n_time }}</i></p>
        <h3 class="text-center pb-3">{{ last_n.topic }}</h3>
        <p style="white-space: pre-wrap; padding: 0 3%;" class="py-3">{{ last_n_text }}</p>
        <a href="/news" class="btn btn-info">Подробнее</a>
    </div>
    <div class="pb-5"></div>
    {% endif %}
    <h1 class="text-center pb-3">Сообщества</h1>
    {% if current_user.is_authenticated and not current_user.is_banned %}
    <div style="background-color: #cceeff;" class="card p-3">
        <h1 class="text-center pb-3">Создать новое сообщество</h1>
        <form method="post">
            <div class="form-group mb-5">
                <label for="name">Введи название</label>
                <input class="form-control" id="name" name="name" placeholder="Название группы">
            </div>
            <div class="form-group mb-5">
                <label for="about">Введи описание</label>
                <textarea class="form-control" id="about" name="about" rows="5" placeholder="Описание группы"></textarea>
            </div>
            <div class="text-center mb-5">
                <button type="submit" class="btn btn-primary btn-lg" id="post_button" name="create_public_button">Создать</button>
            </div>
        </form>
    </div>
    {% endif %}
    <div class="pb-5"></div>
    <h3 class="text-center pb-3">Все группы</h3>
    {% if publics_c %}
        <div class="row pb-3">
            <div class="card p-3" style="overflow: auto; display: flex; flex-direction: row;">
        {% for public in publics[::-1] %}
                    <div class="card" style="min-width: 18rem; width: 18rem; margin: 0 5px;;">
                    {% if public.avatar == None and not public.is_banned %}
                    <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% elif public.is_banned %}
                    <img src="/static/media/ban.jpg" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% else %}
                    <img src="/static/media/from_users/avatars/{{ public.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ public.name }}</h5>
                            <p class="card-text text-center">Сообщество</p>
                            <div class="text-center mt-3">
                                <a href="/public/{{ public.id }}" class="btn btn-info">Перейти</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}
            </div>
        </div>
    <h3 class="text-center pb-3">Группы, на которые ты подписан</h3>
    {% if publics_subscribed_c %}
        <div class="row pb-3">
            <div class="card p-3" style="overflow: auto; display: flex; flex-direction: row;">
        {% for public in publics_subscribed %}
                    <div class="card" style="min-width: 18rem; width: 18rem; margin: 0 5px;">
                    {% if public.avatar == None and not public.is_banned %}
                    <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% elif public.is_banned %}
                    <img src="/static/media/ban.jpg" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% else %}
                    <img src="/static/media/from_users/avatars/{{ public.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ public.name }}</h5>
                            <p class="card-text text-center">Сообщество</p>
                            <div class="text-center mt-3">
                                <a href="/public/{{ public.id }}" class="btn btn-info">Перейти</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}
            </div>
        </div>
    {% elif current_user.is_authenticated %}
        <h4 class="pb-3 text-center">Ты ни на какую группу не подписан</h4>
    {% else %}
        <h4 class="pb-3 text-center">Войди, чтобы смотреть подписки</h4>
    {% endif %}
    {% if publics_admin_or_mod_c %}
    <h3 class="text-center pb-3">Группы, в которых ты занимаешь должность</h3>
        <div class="row pb-3">
            <div class="card p-3" style="overflow: auto; display: flex; flex-direction: row;">
        {% for public in publics_admin_or_mod %}
                    <div class="card" style="min-width: 18rem; width: 18rem; margin: 0 5px;">
                    {% if public.avatar == None and not public.is_banned %}
                    <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% elif public.is_banned %}
                    <img src="/static/media/ban.jpg" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% else %}
                    <img src="/static/media/from_users/avatars/{{ public.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ public.name }}</h5>
                            <p class="card-text text-center">Сообщество</p>
                            <div class="text-center mt-3">
                                <a href="/public/{{ public.id }}" class="btn btn-info">Перейти</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}
            </div>
        </div>
    {% endif %}
    {% else %}
        <h4 class="pb-3 text-center">Групп пока что нет. Создай первую!</h4>
    {% endif %}
{% endblock %}
