{% extends 'base.html' %}
{% block main_content %}
    <h1 class="text-center">Настройки сообщества</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group mb-5">
            <label for="name">Поменять название</label>
            <input class="form-control" id="name" name="name" placeholder="Новое название">
        </div>
        <div class="pb-5">
            <div class="card" style="width: 22rem; margin: 0 auto;">
                {% if public.avatar == None %}
                <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                {% else %}
                <img src="/static/media/from_users/avatars/{{ public.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                {% endif %}
                <div class="card-body">
                    <label for="file">Приложи новую фотографию</label>
                    <input type=file class="form-control-file" id="file" name="file" accept="{{ accept_avatars }}">
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary" id="clear_button" name="clear_button">Убрать аватарку</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mb-5">
            <a href="/public/{{ public.id }}" class="btn btn-primary btn-lg">Отмена</a>
            <button type="submit" class="btn btn-primary btn-lg" id="set_button" name="set_button">Изменить</button>
        </div>
    </form>
{% endblock %}
