{% extends 'base.html' %}
{% block main_content %}
    {% if last_n %}
    <h3 class="text-center">Последняя новость</h3>
    <div class="card p-3">
        <p class="text-end">Дата публикации: <i>{{ last_n_time }}</i></p>
        <h3 class="text-center pb-3">{{ last_n.topic }}</h3>
        <p style="white-space: pre-wrap; padding: 0 3%;" class="py-3">{{ last_n_text }}</p>
        <a href="/news" class="btn btn-info">Подробнее</a>
    </div>
    <div class="pb-5"></div>
    {% endif %}
    <h1 class="text-center pb-3">Сообщество</h1>
    <div class="row pb-3">
        <div class="col pb-3">
            <div class="card" style="width: 18rem;">
                {% if public.avatar == None and not public.is_banned %}
                    <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                {% elif public.is_banned %}
                    <img src="/static/media/ban.jpg" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                {% else %}
                    <img src="/static/media/from_users/avatars/{{ public.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title text-center">{{ public.name }}</h5>
                    <p class="card-text text-center">Сообщество</p>
                </div>
            </div>
            {% if current_user.is_authenticated %}
                <div class="pb-3"></div>
            {% if admin_tools %}
                <a href="/public/{{ public.id }}/settings" class="btn btn-info" style="width: 18rem;">Настройки группы</a>
            {% else %}
            {% if not is_subscriber %}
                <form class="pb-2" method="post">
                    <button type="submit" class="btn btn-info" style="width: 18rem;" id="subscribe_button" name="subscribe_button">Подписаться</button>
                </form>
            {% else %}
                <form class="pb-2" method="post">
                    <button type="submit" class="btn btn-info" style="width: 18rem;" id="subscribe_button" name="subscribe_button">Отписаться</button>
                </form>
            {% endif %}
            {% if current_user.is_admin %}
            {% if public.is_banned %}
                <form class="pb-2" method="post">
                    <button type="submit" class="btn btn-info" style="width: 18rem;" id="unban_public_button" name="unban_public_button">Разбанить группу</button>
                </form>
            {% else %}
                <form class="pb-2" method="post">
                    <button type="submit" class="btn btn-info" style="width: 18rem;" id="ban_public_button" name="ban_public_button">Забанить группу</button>
                    <input class="form-control mt-2" style="width: 18rem;" type="text" id="reason_text" name="reason_text" placeholder="Причина">
                </form>
            {% endif %}
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
        <div class="col">
            <p>Подписчиков: {{ public.subscribers }}</p>
            {% if current_user.is_authenticated and not current_user.is_banned and admin_tools %}
                <h3>О сообществе:</h3>
                <form method="post">
                    <div class="row pb-3">
                        <textarea class="form-control" rows="5" placeholder="Напиши о группе" id="about_input" name="about_input">{{ public.about }}</textarea>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-info btn-lg" id="about_button" name="about_button">Обновить описание</button>
                    </div>
                </form>
            {% elif public.about %}
                <h3>О сообществе:</h3>
                <p>{{ public.about }}</p>
            {% endif %}
            {% if public.is_banned %}
            <h4 class="mt-3" style="color: #ff0000;">Это сообщество было забанено. Причина: <b>{{ public.ban_reason }}</b></h4>
            {% endif %}
        </div>
    </div>
    <div class="pb-3"></div>
    {% if current_user.is_authenticated and (admin_tools or moderator_tools) and not current_user.is_banned %}
    <div style="background-color: #cceeff;" class="card p-3">
        <h1 class="text-center pb-3">Написать новый пост</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group mb-5">
                <label for="text">Введи текст</label>
                <textarea class="form-control" id="text" name="text" rows="5" placeholder="Текст поста"></textarea>
            </div>
            <div class="form-group mb-5">
                <label for="files[]">Приложи медиафайлы (Максимальный размер — {{ max_size }} МБ, максимум файлов — {{ max_count }})</label>
                <input type=file class="form-control-file" id="files[]" name="files[]" multiple="multiple" accept="{{ accept_files }}">
            </div>
            <div class="text-center mb-5">
                <button type="submit" class="btn btn-primary btn-lg" id="post_button" name="post_button">Отправить</button>
            </div>
        </form>
    </div>
    <div class="pb-5"></div>
    {% elif posts_c %}
        <h1>Посты сообщества:</h1>
    {% elif not admin_tools %}
        <h1>У сообщества нет постов.</h1>
    {% endif %}
    {% for post in posts[::-1][(page-1)*page_max:page*page_max] %}
        <div class="card p-3" id="post_{{ post.id }}">
            <div class="row pb-3">
                <div class="col pb-3">
                    <div>
                        {% if public.avatar == None and not public.is_banned %}
                        <img src="/static/media/default.png" style="object-fit: cover; width: 64px; height: 64px; border-radius: 100px;" class="img-thumbnail" alt="{{ public.name }}">
                        {% elif public.is_banned %}
                        <img src="/static/media/ban.jpg" style="object-fit: cover; width: 64px; height: 64px; border-radius: 100px;" class="img-thumbnail" alt="{{ public.name }}">
                        {% else %}
                        <img src="/static/media/from_users/avatars/{{ public.avatar }}" style="object-fit: cover; width: 64px; height: 64px; border-radius: 100px;" class="img-thumbnail" alt="{{ public.name }}">
                        {% endif %}
                        <b>{{ public.name }}</b>
                    </div>
                </div>
                <div class="col pb-3">
                    <p class="text-end mt-3">Дата публикации: <i>{{ post_time[post.id] }}</i></p>
                </div>
            </div>
            {% if post.text %}
            <p style="white-space: pre-wrap; padding: 0 3%;" class="pb-3">{{ post.text }}</p>
            {% endif %}
            {% if post_media[post.id] %}
            <div style="flex-flow: row wrap;" class="d-flex justify-content-evenly pb-3">
                {% for m in range(post_media_count[post.id]) %}
                    {% if post_media_type[post.id][m] in media_pics %}
                        <img class="img-thumbnail" style="max-height: 192px; min-height: 128px;" src="/static/media/from_users/{{ post_media[post.id][m] }}">
                    {% elif post_media_type[post.id][m] in media_vid %}
                        <video controls preload="metadata" class="img-thumbnail" style="max-height: 192px; min-height: 128px;" src="/static/media/from_users/{{ post_media[post.id][m] }}"></video>
                    {% elif post_media_type[post.id][m] in media_aud %}
                        <audio controls class="p-1" src="/static/media/from_users/{{ post_media[post.id][m] }}"></audio>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" class="row">
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-secondary" style="width: 90%;" id="like_button" name="like_button" value="{{ post.id }}"><img class="me-2" width="32" src="
                        {% if current_user.id|string() in post_likers[post.id] and current_user.is_authenticated %}
                        /static/media/like_activated.svg
                        {% else %}
                        /static/media/like.svg
                        {% endif %}"
                        >{{ post.likes }}</button>
                    </div>
                </div>
                {% if (admin_tools or moderator_tools or current_user.is_admin) and not current_user.is_banned %}
                <div class="col">
                    <div class="text-center">
                        <button type="submit" class="btn btn-danger" style="width: 90%;" id="delete_post_button" name="delete_post_button" value="{{ post.id }}">Удалить пост</button>
                    </div>
                </div>
                {% endif %}
            </form>
            <div class="pb-3"></div>
            <form method="post" style="background-color: #cceeff;" class="card p-3">
                <h3 class="text-center pb-2">Оставить комментарий</h3>
                <div class="form-group mb-2">
                    <label for="comment_text">Введи текст</label>
                    <textarea class="form-control" id="comment_text" name="comment_text" rows="2" placeholder="Текст комментария"></textarea>
                </div>
                <div class="text-center mb-2">
                    <button type="submit" class="btn btn-primary" id="comment_button" name="comment_button" value="{{ post.id }}">Отправить</button>
                </div>
            </form>
            <div class="pb-3"></div>
            {% if comments[post.id] %}
            {% for comment in comments[post.id] %}
            <div class="card p-3">
                <div class="row pb-3">
                <div class="col pb-3">
                    <div>
                        {% if comments_posters[comment.id].avatar == None and not comments_posters[comment.id].is_banned %}
                        <img src="/static/media/default.png" style="object-fit: cover; width: 64px; height: 64px; border-radius: 100px;" class="img-thumbnail" alt="{{ comments_posters[comment.id].surname }} {{ comments_posters[comment.id].name }}">
                        {% elif comments_posters[comment.id].is_banned %}
                        <img src="/static/media/ban.jpg" style="object-fit: cover; width: 64px; height: 64px; border-radius: 100px;" class="img-thumbnail" alt="{{ comments_posters[comment.id].surname }} {{ comments_posters[comment.id].name }}">
                        {% else %}
                        <img src="/static/media/from_users/avatars/{{ comments_posters[comment.id].avatar }}" style="object-fit: cover; width: 64px; height: 64px; border-radius: 100px;" class="img-thumbnail" alt="{{ comments_posters[comment.id].surname }} {{ comments_posters[comment.id].name }}">
                        {% endif %}
                        {% if comments_posters[comment.id].is_teacher %}
                            <b>{{ comments_posters[comment.id].surname }} {{ comments_posters[comment.id].name }} {{ comments_posters[comment.id].patronymic }}</b> (@{{ comments_posters[comment.id].login }})
                        {% else %}
                            <b>{{ comments_posters[comment.id].surname }} {{ comments_posters[comment.id].name }}</b> (@{{ comments_posters[comment.id].login }})
                        {% endif %}
                    </div>
                </div>
                <div class="col pb-3">
                    <p class="text-end mt-3">Дата публикации: <i>{{ comments_time[comment.id] }}</i></p>
                </div>
                </div>
                {% if comment.text %}
                    <p style="white-space: pre-wrap; padding: 0 3%;" class="pb-1">{{ comment.text }}</p>
                {% endif %}
                <form method="post" class="row">
                    <div class="col">
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-secondary" style="width: 90%;" id="like_button" name="like_button" value="{{ comment.id }}"><img class="me-2" width="32" src="
                            {% if current_user.id|string() in comments_likers[comment.id] and current_user.is_authenticated %}
                            /static/media/like_activated.svg
                            {% else %}
                            /static/media/like.svg
                            {% endif %}"
                            >{{ comment.likes }}</button>
                        </div>
                    </div>
                    {% if current_user == comments_posters[comment.id] or (current_user.is_admin and not comments_posters[comment.id].is_admin) or ((admin_tools or moderator_tools) and not comments_posters[comment.id].is_admin) %}
                    <div class="col">
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger" style="width: 90%;" id="delete_post_button" name="delete_post_button" value="{{ comment.id }}">Удалить пост</button>
                        </div>
                    </div>
                    {% endif %}
            </form>
            </div>
            <div class="pb-2"></div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="pb-5"></div>
    {% endfor %}
    <form class="row" method="post">
        {% if page != 1 %}
        <div class="col text-center">
            <button type="submit" class="btn btn-lg btn-info" value="1" id="to_the_beginning_button" name="to_the_beginning_button">1</button>
        </div>
        {% else %}
        <div class="col text-center">
            <button disabled class="btn btn-lg btn-outline-info">{{ page }}</button>
        </div>
        {% endif %}
        {% if max_page_of_public > 2 %}
        <div class="col text-center">
            ...
        </div>
        {% endif %}
        {% if page - 1 > 1 %}
        <div class="col text-center">
            <button type="submit" class="btn btn-lg btn-info" value="{{ page - 1 }}" id="to_the_previous_button" name="to_the_previous_button">{{ page - 1 }}</button>
        </div>
        {% endif %}
        {% if page != 1 and page != max_page_of_public %}
        <div class="col text-center">
            <button disabled class="btn btn-lg btn-outline-info">{{ page }}</button>
        </div>
        {% endif %}
        {% if page + 1 < max_page_of_public %}
        <div class="col text-center">
            <button type="submit" class="btn btn-lg btn-info" value="{{ page + 1 }}" id="to_the_next_button" name="to_the_next_button">{{ page + 1 }}</button>
        </div>
        {% endif %}
        {% if max_page_of_public >= 2 %}
        <div class="col text-center">
            ...
        </div>
        {% if page != max_page_of_public %}
        <div class="col text-center">
            <button type="submit" class="btn btn-lg btn-info" value="{{ max_page_of_public }}" id="to_the_end_button" name="to_the_end_button">{{ max_page_of_public }}</button>
        </div>
        {% else %}
        <div class="col text-center">
            <button disabled class="btn btn-lg btn-outline-info">{{ page }}</button>
        </div>
        {% endif %}
        {% endif %}
    </form>
{% endblock %}
