{% extends 'base.html' %}
{% block main_content %}
    <h1 class="text-center pb-3">Поиск</h1>
    <form method="post" role="search">
        <div class="form-group mb-5">
            <label for="text_to_search">Напишите, кого или какую группу ты ищешь</label>
            <input id="text_to_search" name="text_to_search" type="search" class="form-control" placeholder="Имя, название и т. д.">
        </div>
    </form>
    {% if users_c %}
        {% if text_to_search %}
        <h3 class="pb-3">Найдено совпадений: {{ users_c }}</h3>
        {% endif %}
        <div class="row pb-3">
            <div class="card p-3" style="overflow: auto; display: flex; flex-direction: row;">
        {% for user in users %}
                    <div class="card" style="min-width: 18rem; width: 18rem; margin: 0 5px;">
                        {% if user.avatar == None %}
                            <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% else %}
                            <img src="/static/media/from_users/avatars/{{ user.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% endif %}
                        <div class="card-body">
                            {% if user.is_from_proton %}
                                {% if user.is_teacher %}
                                  <h5 class="card-title text-center">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</h5>
                                  <p class="card-text text-center">Учитель</p>
                                {% else %}
                                  <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                                  <p class="card-text text-center">Ученик</p>
                                {% endif %}
                            {% else %}
                                <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                                <p class="card-text text-center">Гость</p>
                            {% endif %}
                            {% if user.is_admin %}
                                <h5 class="card-text text-center" style="color: #ff0000;">Администратор</h5>
                            {% endif %}
                            <div class="text-center mt-3">
                                <a href="/user/{{ user.login }}" class="btn btn-primary">Перейти на стену</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}
            </div>
        </div>
    {% else %}
        {% if users_c %}
        <h3 class="pb-3 text-center">Сходств не найдено</h3>
        {% else %}
        <h3 class="pb-3 text-center">Пользователей пока что нет</h3>
        {% endif %}
    {% endif %}
{% endblock %}
