{% extends 'base.html' %}
{% block main_content %}
    {% if last_n %}
    <h3 class="text-center">Последняя новость</h3>
    <div class="card p-3">
        <p class="text-end">Дата публикации: <i>{{ last_n_time }}</i></p>
        <h3 class="text-center pb-3">{{ last_n.topic }}</h3>
        <p style="white-space: pre-wrap; padding: 0 3%;" class="py-3">{{ last_n_text }}</p>
        <a href="/news" class="btn btn-info">Подробнее</a>
    </div>
    <div class="pb-5"></div>
    {% endif %}
    <h1 class="text-center pb-3">Поиск</h1>
    <form method="post" role="search">
        <div class="form-group mb-5">
            <label for="text_to_search">Напиши, кого или какую группу ты ищешь</label>
            <input id="text_to_search" name="text_to_search" type="search" class="form-control" placeholder="Имя, название и т. д.">
        </div>
    </form>
    <h3 class="text-center pb-3">Люди</h3>
    {% if users_c %}
        {% if text_to_search %}
        <h3 class="pb-3">Найдено совпадений (пользователи): {{ users_c }}</h3>
        {% endif %}
        <div class="row pb-3">
            <div class="card p-3" style="overflow: auto; display: flex; flex-direction: row;">
        {% for user in users %}
                    <div class="card" style="min-width: 18rem; width: 18rem; margin: 0 5px;">
                        {% if user.avatar == None and not user.is_banned %}
                            <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% elif user.is_banned %}
                            <img src="/static/media/ban.jpg" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% else %}
                            <img src="/static/media/from_users/avatars/{{ user.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% endif %}
                        <div class="card-body">
                            {% if user.is_from_proton %}
                                {% if user.is_teacher %}
                                  <h5 class="card-title text-center">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</h5>
                                  <p class="card-text text-center">Учитель</p>
                                {% else %}
                                  <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                                  <p class="card-text text-center">Ученик</p>
                                {% endif %}
                            {% else %}
                                <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                                <p class="card-text text-center">Гость</p>
                            {% endif %}
                            {% if user.is_admin %}
                                <h5 class="card-text text-center" style="color: #ff0000;">Администратор</h5>
                            {% elif user.is_news_publisher %}
                                <h5 class="card-text text-center" style="color: #ff0000;">СМИ</h5>
                            {% endif %}
                            <div class="text-center mt-3">
                                <a href="/user/{{ user.login }}" class="btn btn-info">Перейти на стену</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}
            </div>
        </div>
    {% else %}
        {% if text_to_search %}
        <h4 class="pb-3 text-center">Сходств среди пользователей не найдено</h4>
        {% else %}
        <h4 class="pb-3 text-center">Других пользователей пока что нет</h4>
        {% endif %}
    {% endif %}
    <div class="pb-5"></div>
    <h3 class="text-center pb-3">Группы</h3>
    {% if publics_c %}
        {% if text_to_search %}
        <h3 class="pb-3">Найдено совпадений (группы): {{ publics_c }}</h3>
        {% endif %}
        <div class="row pb-3">
            <div class="card p-3" style="overflow: auto; display: flex; flex-direction: row;">
        {% for public in publics %}
                    <div class="card" style="min-width: 18rem; width: 18rem; margin: 0 5px;">
                    {% if public.avatar == None and not public.is_banned %}
                    <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% elif public.is_banned %}
                    <img src="/static/media/ban.jpg" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% else %}
                    <img src="/static/media/from_users/avatars/{{ public.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ public.name }}">
                    {% endif %}
                        <div class="card-body">
                            <h5 class="card-title text-center">{{ public.name }}</h5>
                            <p class="card-text text-center">Сообщество</p>
                            <div class="text-center mt-3">
                                <a href="/public/{{ public.id }}" class="btn btn-info">Перейти</a>
                            </div>
                        </div>
                    </div>
        {% endfor %}
            </div>
        </div>
    {% else %}
        {% if text_to_search %}
        <h4 class="pb-3 text-center">Сходств среди групп не найдено</h4>
        {% else %}
        <h4 class="pb-3 text-center">Групп пока что нет</h4>
        {% endif %}
    {% endif %}
{% endblock %}
