{% extends 'components.html' %}
{% block main_content %}
    <h3 class="text-center">ПротоСеть</h3>
    <h1 class="text-center">Регистрация</h1>
    <form method="post">
        <div class="form-group mb-5">
            <label for="name">Введи своё имя</label>
            <input class="form-control" id="name" name="name">
        </div>
        <div class="form-group mb-5">
            <label for="surname">Введи свою фамилию</label>
            <input class="form-control" id="surname" name="surname">
        </div>
        <div class="form-group mb-5">
            <label for="email">Введи свою почту (по желанию)</label>
            <input class="form-control" id="email" name="email">
        </div>
        <div class="form-group mb-5">
            <label for="login">Придумай себе логин</label>
            <input class="form-control" id="login" name="login">
        </div>
        <div class="form-group mb-5">
            <label for="password">Придумай себе пароль</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group mb-5">
            <label for="password_sec">Повтори этот пароль</label>
            <input type="password" class="form-control" id="password_sec" name="password_sec">
        </div>
        <div class="text-center mb-5">
            <button type="submit" class="btn btn-info">Закончить</button>
        </div>
    </form>

{% endblock %}