{% extends 'base.html' %}
{% block main_content %}
    <div class="row pb-3">
        <div class="col pb-3">
            <div class="card" style="width: 18rem;">
                {% if user.avatar == None %}
                    <img src="/static/media/default.png" width="256" height="256" style="margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                {% else %}
                    <img src="/static/media/from_users/avatars/{{ user.avatar }}" style="object-fit: cover; width: 256px; height: 256px; margin: 0 auto;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                {% endif %}
                <div class="card-body">
                    {% if user.is_from_proton %}
                        {% if user.is_teacher %}
                          <h5 class="card-title text-center">{{ user.surname }} {{ user.name }} {{ user.patronymic }}</h5>
                          <p class="card-text text-center">Учитель</p>
                        {% else %}
                          <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                          <p class="card-text text-center">Ученик</p>
                        {% endif %}
                    {% else %}
                        <h5 class="card-title text-center">{{ user.surname }} {{ user.name }}</h5>
                        <p class="card-text text-center">Гость</p>
                    {% endif %}
                    {% if user.is_admin %}
                        <h5 class="card-text text-center" style="color: #ff0000;">Администратор</h5>
                    {% endif %}
                </div>
            </div>
            {% if current_user.is_authenticated %}
            <div class="pb-3"></div>
            {% if current_user.login == user.login %}
            <a href="/settings" class="btn btn-info" style="width: 18rem;">Настройки аккаунта</a>
            {% else %}
            <button type="submit" class="btn btn-info" style="width: 18rem;">Добавить в друзья</button>
            {% endif %}
            {% endif %}
        </div>
        <div class="col">
            <p>В последний раз был в сети: <i>{{ user_time }}</i></p>
            {% if current_user.is_authenticated and current_user.login == user.login %}
                <h3>Обо мне:</h3>
                <form method="post">
                    <div class="row pb-3">
                        <textarea class="form-control" rows="5" placeholder="Напиши о себе" id="about_input" name="about_input">{{ user.about }}</textarea>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn btn-info btn-lg" id="about_button" name="about_button">Обновить описание</button>
                    </div>
                </form>
            {% elif user.about %}
                <h3>Обо мне:</h3>
                <p>{{ user.about }}</p>
            {% endif %}
        </div>
    </div>
    <div class="pb-3"></div>
    {% if current_user.is_authenticated and current_user.login == user.login %}
    <div style="background-color: #cceeff;" class="card p-3">
        <h1 class="text-center pb-3">Написать новый пост</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group mb-5">
                <label for="text">Введи текст</label>
                <textarea class="form-control" id="text" name="text" rows="5" placeholder="Текст поста"></textarea>
            </div>
            <div class="form-group mb-5">
                <label for="files[]">Приложи медиафайлы (Максимальный размер — {{ max_size }} МБ, максимум файлов — {{ max_count }})</label>
                <input type=file class="form-control-file" id="files[]" name="files[]" multiple="multiple" accept="{{ accept_files }}">
            </div>
            <div class="text-center mb-5">
                <button type="submit" class="btn btn-primary btn-lg" id="post_button" name="post_button">Отправить</button>
            </div>
        </form>
    </div>
    <div class="pb-5"></div>
    {% elif posts_c %}
        <h1>Посты пользователя:</h1>
    {% else %}
        <h1>У пользователя нет постов.</h1>
    {% endif %}
    {% for post in posts[::-1] %}
        <div class="card p-3">
            <div class="row pb-3">
                <div class="col pb-3">
                    <div>
                        {% if user.avatar == None %}
                        <img src="/static/media/default.png" width="64" height="64" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% else %}
                        <img src="/static/media/from_users/avatars/{{ user.avatar }}" style="object-fit: cover; width: 64px; height: 64px; border-radius: 100px;" class="img-thumbnail mt-3" alt="{{ user.surname }} {{ user.name }}">
                        {% endif %}
                        {% if user.is_teacher %}
                            <b>{{ user.surname }} {{ user.name }} {{ user.patronymic }}</b> (@{{ user.login }})
                        {% else %}
                            <b>{{ user.surname }} {{ user.name }}</b> (@{{ user.login }})
                        {% endif %}
                    </div>
                </div>
                <div class="col pb-3">
                    <p class="text-end">Дата публикации: <i>{{ post_time[post.id] }}</i></p>
                </div>
            </div>
            <p style="white-space: pre-wrap;" class="px-5 pb-3">{{ post.text }}</p>
            {% if post_media[post.id] %}
            <div style="display: flex; flex-flow: row wrap;" class="pb-3">
                {% for m in range(post_media_count[post.id]) %}
                    {% if post_media_type[post.id][m] in media_pics %}
                        <img class="img-thumbnail" style="max-height: 192px;" src="/static/media/from_users/{{ post_media[post.id][m] }}">
                    {% elif post_media_type[post.id][m] in media_vid %}
                        <video controls preload="metadata" class="img-thumbnail" style="max-height: 192px;" src="/static/media/from_users/{{ post_media[post.id][m] }}"></video>
                    {% elif post_media_type[post.id][m] in media_aud %}
                        <audio controls class="p-1" src="/static/media/from_users/{{ post_media[post.id][m] }}"></audio>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" class="row">
                <div class="col">
                    <button type="submit" class="btn btn-info" id="like_button" name="like_button" value="{{ post.id }}"><img class="me-2" width="32" src="/static/media/like.svg">{{ post.likes }}</button>
                </div>
            </form>
        </div>
        <div class="pb-5"></div>
    {% endfor %}

{% endblock %}
